@import url("https://fonts.googleapis.com/css?family=DM+Sans:500,700,800|Inter:500,400");

.menu-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #0b1442;
  color: #ffffff;
  font-family: Arial, sans-serif; /* Fuente por defecto para la barra superior */
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  min-height: 100vh;
}

/* Estilos de la barra de navegación superior */
.navbar {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  position: relative;
}

.nav-link {
  text-decoration: none;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}

.nav-link:hover {
  text-decoration: underline;
}

/* Contenedor del menú para centrar vertical y horizontalmente */
.menu-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}


.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

/* Estilos de los enlaces del menú principal */
.menu-item {
  text-decoration: none;
  color: #ffffff;
  font-size: 2.8rem;
  font-weight: bold;
  font-weight: 700;
  transition: color 0.3s ease;
}

/* Color azul para el elemento activo/destacado */
.menu-item.active {
  color: #214f96;
}

.menu-item:hover {
  color: #214f96;
}

.brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 25px;
}