/* Fuentes e Importaciones */
@import url("https://fonts.googleapis.com/css?family=DM+Sans:500,700,800|Inter:500,400");

.CommonHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-sizing: border-box;
  background-color: #EDF2F3;
}

.logo {
  display: flex;
  align-items: center;
  gap: 260px;
}

.icon {
  height: 80px;
  width: auto;
  object-fit: contain;
}

.brand {
  height: 80px;
  width: auto;
  object-fit: contain;
  justify-content: space-between;
}

.primary-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu-btn{
  background: trasparent;
  color: #0b1f46;
  border: none;
  border-radius: 0px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.inc-btn {
  background-color: #0b1f46;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 6px 14px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}


.imagen {
  width: 100%;
  height: 480px;
  object-fit: cover;
  border-radius: 12px;
}

.background{
  position: relative;
  width: 100%;
}

.imagen img { /*imagen real de fondo*/
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.side-menu {
  background-color: transparent;
  border: 200px;
  position: absolute;
  top: 80px;
  right: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon-btn {
  height: 40px;
  width: 40px;
  background-color: #0b1f46;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  overflow: hidden;
  cursor: pointer;
}

.icon-btn img {
  width: 15px;
  height: 15px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.filter-bar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-70%);
  width: 93%;
  max-width: 1300px;
  padding: 15px 25px;
  box-sizing: border-box;
  background-color: #ffffff;
  left: 3.5%;
  bottom: -30;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px;
  gap: 30px;
}

.filter-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-right: 2px solid #cccbcb;
  padding-right: 10px;
  align-items: flex-start;
  text-align: left;
  gap: 5px;
}



.filter-group label {
  font-size: 13px;
  color: #1c1c1c;
  margin-bottom: 5px;
  text-align: left;
  
}

.filter-group select {
  text-align: left;
  width: 100%;
  outline: none;
  border-radius: none;
  border: none;
  font-size: 13px;
  color: #636363;
  background: transparent;
  cursor: pointer;
  padding-right: 15px;
  padding-left: 0px;
}

.search-btn {
  background-color: #0b1f46;
  color: #ffffff;
  border: none;
  border-radius: 0px;
  padding: 12px 24px;
  font-size: 14px;
  object-fit: contain;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-btn img {
  width: 12px;
  height: 12px;
  object-fit: contain;
  display: inline-block;
  margin-right: 10px;
}

.filter-input {
  width: 100%;
  padding: 0px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
}

/* page 2 */

.featured-section {
  padding: 40px 20px;
  background-color: #EDF2F3;
  padding-bottom: 100px;
  overflow: visible;
}

.section-header {
  width: 100%;
  margin-bottom: 20px;
  color: #0b1f46;
  Padding-top: 20px;
  padding-left: 20px;
  font-size: 30px;
}

.section-header h2 {
  font-size: 40px;
  margin: 0;
  color: #0b1f46;
}
.section-header p {
  font-size: 13px;
  margin-top: 5;
  color: #000000;
}

.cards-grid {
  padding-top: 20px;
  background-color: transparent;
  border-radius: 12px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 0 20px;
  justify-content: space-between;
}

.building-img {
  aspect-ratio: 1/1;
  margin-top: 0px;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

.card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 12px;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}



.favorite-btn {
  background-color: #ffffff;
  border: none;
  border-radius: 50px;
  padding: 0px;
  cursor: pointer;
  align-self: flex-end;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.location-header{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 100%;
}
.card-location {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  font-weight: 300;
  color: #0b1f46;
  margin-bottom: -24px;
}

.card-location img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.card-location span {
  flex-grow: 1;
}

.favorite-btn {
  background: transparent;
  border: none;
  padding: 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.favorite-btn img {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.card-title {
  padding-top: 15px;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
  margin: 0;
}

.card-details {
  display: flex;
  font-size: 12px;
  font-weight: 400;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.card-price {
  font-size: 14px;
  font-weight: 700;
  color: #1c1c1c;
}


.details-btn {
  background-color: #0b1f46;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 6px 14px;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
}

.next-btn {
  background-color: #0b1f46;
  color: #ffffff;
  position: absolute;
  right: 45px;
  z-index: 10;
  padding: 6px 14px;
  margin-top: 25px;
  font-size: 12px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  border: none;
  overflow: hidden;
  cursor: pointer;
}

.next-btn img {
  width: 15px;
  height: 15px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

/* pagina 3 */
.info-section {
  background-color: #EDF2F3;
  height: 550px;
}

.section-content {
  text-align: center;
  margin: 150px;
  margin-top: 20px;
}
.principal-text{
  color: #0b1f46;
  font-size: 60px;
  object-fit: contain;
  align-items: center;
  margin-bottom: 80px;
}

.little-text {
  color: #0b1f46;
  margin-left: 80px;
  margin-right: 80px;
}

.page-4 {
  height: 600px;
  background-color: #EDF2F3;
}

.image-article {
  margin-left: 10px;
}
.card-image-4 img{
  width: 350px;
  height: 400px;
  object-fit: cover;
  border-radius: 0px;
}
.vision-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 40px 20px;
}

.text-little-4 {
  color: #0b1f46;
  margin-left: 10px;
  margin-right: 80px;
}
.text-4 {
  color: #0b1f46;
  margin-left: 25px;
  margin-bottom: 60px;
  font-weight: bold;
  font-size: 50px;
}

/* page 5 */
.contaier{
  padding: 40px 20px;
  background-color: #12c1e4;
  width: 100%;
  padding-bottom: 100px;
  overflow: visible;
}

.banner{
  background-color: #0b1f46;
  padding: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 40px 20px;
}

.stat-item{
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.stat-number{
  font-size: 50px;
  font-weight: 20px;
}

.stat-label{
  font-size: 13px;
}

.content{
  background-color: #EDF2F3;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 auto;
  padding: 90px 50px;
  max-width: 1000;
  gap: 60px;
}

.profile-img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 0px;
}

.section-title{
  color: #0b1f46;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}

.description{
  color: #0b1f46;
  margin-left: 10px;
  margin-right: 80px;
}






















