/* page 8 */

.home-search{
  height: 600px;
  background-color: #EDF2F3;
  padding-bottom: 40px;
}

.background{
    color: #EDF2F3;
    position: relative;
}

.CommonHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-sizing: border-box;
  background-color: #EDF2F3;
}

.filter-bar2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93%;
  max-width: 1300px;
  padding: 15px 25px;
  box-sizing: border-box;
  background-color: #ffffff;
  left: 3.5%;
  bottom: -30;
  justify-content: space-between;
  border-radius: 5px;
  gap: 30px;
}


.filter-group2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-right: 2px solid #cccbcb;
  padding-right: 10px;
  align-items: flex-start;
  text-align: left;
  gap: 5px;
}

.filter-group2 label {
  font-size: 13px;
  color: #1c1c1c;
  margin-bottom: 5px;
  text-align: left;
  
}

.filter-group2 select {
  text-align: left;
  width: 100%;
  outline: none;
  border-radius: none;
  border: none;
  font-size: 13px;
  color: #636363;
  background: transparent;
  cursor: pointer;
  padding-right: 15px;
  padding-left: 0px;
}

.filter-input2 {
  width: 100%;
  padding: 0px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
}


.search-btn {
  background-color: #0b1f46;
  color: #ffffff;
  border: none;
  border-radius: 0px;
  padding: 12px 24px;
  font-size: 14px;
  object-fit: contain;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-btn img {
  width: 12px;
  height: 12px;
  object-fit: contain;
  display: inline-block;
  margin-right: 10px;
}


.cards-grid {
  padding-top: 20px;
  background-color: transparent;
  border-radius: 12px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 0 20px;
  justify-content: space-between;
}

.building-img {
  aspect-ratio: 1/1;
  margin-top: 0px;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

.card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 12px;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
