/* Fuentes e Importaciones */
@import url("https://fonts.googleapis.com/css?family=DM+Sans:500,700,800|Inter:500,400");

.CommonHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-sizing: border-box;
  background-color: #EDF2F3;

}

.logo {
  display: flex;
  align-items: center;
  gap: 260px;
}

.icon {
  height: 80px;
  width: auto;
  object-fit: contain;
}

.brand {
  height: 80px;
  width: auto;
  object-fit: contain;
  justify-content: space-between;
}

.primary-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu-btn{
  background: trasparent;
  color: #0b1f46;
  border: none;
  border-radius: 0px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.inc-btn {
  background-color: #0c1762;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 6px 14px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}



.imagen {
  width: 100%;
  height: 480px;
  object-fit: cover;
  border-radius: 12px;
}

.background{
  position: relative;
  width: 100%;
}

.imagen img { /*imagen real de fondo*/
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.side-menu {
  background-color: transparent;
  border: 200px;
  position: absolute;
  top: 80px;
  right: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon-btn {
  height: 40px;
  width: 40px;
  background-color: #0c1762;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  overflow: hidden;
  cursor: pointer;
}

.icon-btn img {
  width: 15px;
  height: 15px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}
