/* page 8 */

.home-search{
  height: 600px;
  background-color: #EDF2F3;
  padding: 50px 5px;
  width: 100%;
  padding-bottom: 400px;
}

.background{
    color: #EDF2F3;
    position: relative;
}

.CommonHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-sizing: border-box;
  background-color: #EDF2F3;
}

.filter-bar2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93%;
  max-width: 1300px;
  padding: 15px 25px;
  box-sizing: border-box;
  background-color: #ffffff;
  left: 3.5%;
  bottom: -30;
  justify-content: space-between;
  border-radius: 5px;
  gap: 30px;
}


.filter-group2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-right: 2px solid #cccbcb;
  padding-right: 10px;
  align-items: flex-start;
  text-align: left;
  gap: 5px;
}

.filter-group2 label {
  font-size: 13px;
  color: #1c1c1c;
  margin-bottom: 5px;
  text-align: left;
  
}

.filter-group2 select {
  text-align: left;
  width: 100%;
  outline: none;
  border-radius: none;
  border: none;
  font-size: 13px;
  color: #636363;
  background: transparent;
  cursor: pointer;
  padding-right: 15px;
  padding-left: 0px;
}

.filter-input2 {
  width: 100%;
  padding: 0px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
}


.search-btn {
  background-color: #0b1f46;
  color: #ffffff;
  border: none;
  border-radius: 0px;
  padding: 12px 24px;
  font-size: 14px;
  object-fit: contain;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-btn img {
  width: 12px;
  height: 12px;
  object-fit: contain;
  display: inline-block;
  margin-right: 10px;
}

.properties-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  max-width: 1200px;
  margin: 40px;
  padding: 0 20px;
  box-sizing: border-box;
}

.card2{
  background-color: #ffffff;
  border-radius: 12px;
  padding: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content2{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.img-card{
  width: 100%;
  height: 100%;
  border-radius: 12px;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
  display: flex;
  margin-bottom: 12px;
}

.building2-img{
  width: 100%;
  height: 150px;
  aspect-ratio: 10 / 9;
  object-fit: cover;
}

.location-card {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  font-weight: 300;
  color: #0b1f46;
  margin-bottom: -24px;
}

.location-card img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.favorite-btn {
  border: none;
  padding: 0px;
  cursor: pointer;
  background: transparent;
  padding: 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.favorite-btn img {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.title-card {
  padding-top: 15px;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
  margin: 0;
}

.details-card {
  display: flex;
  font-size: 12px;
  font-weight: 400;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
  gap: 12px;
}


.footer-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.card-price {
  font-size: 14px;
  font-weight: 700;
  color: #1c1c1c;
}
